{% extends "template.twig" %}

{% block body %}
<div class="ui secondary pointing fluid menu">
    <h2 class="ui header">Campanha</h2>
</div>
<div class="sixteen wide sales column">
    {% include 'outros/notificacao.twig' only %}
    <form class="ui form" id="contato-form" name="contato-form" method="POST" enctype="multipart/form-data" action="{{ path_for('campanhas_salvar') }}">
        <input type="hidden" id="id" value="{{contato.id_contato_id}}">
        <div class="two fields">
            <div class="field">
                <label>Nome Campanha * </label>
                <div class="ui input focus">
                    <input type="text" name="nome" tabindex="1" value="{{ contato.nome_contato }}" class="">
                </div>
                <div class="field">
                    <label>Canal</label>
                    <div class="field">
                        <select class="ui fluid search dropdown" tabindex="2" name="interface" value="interface" required>
                            {% for channel in channels %}
                                <option value="{{ channel.ID }}">{{ channel.ID }} </option>
                            {% endfor %}        
                        </select>
                    </div>
                </div>
            </div>
            <div class="field">
                <label>Número *</label>
                <textarea tabindex="2" placeholder="Número,Nome contato; Ex: 6599462332,José" name="numeros"></textarea>
            </div>
        </div>        
        <div class="field">
            <label>Mensagem *</label>
            <div class="ui message">
                <ul class="list">
                    <li>Para inserir o nome do contato use o parâmetro #NOME# no corpo da mensagem.</li>
                </ul>
            </div>
            <textarea tabindex="2" name="msg"></textarea>
        </div>
        <button class="ui button left" tabindex="3"  type="submit"  value="Submit">
            Enviar
        </button>
    </form>
</div>
{% endblock %}

